{% extends 'main/layout.html' %}



    {% block title %}Reset your password{% endblock %}
{% block content %}
<div class="form" style="height:300px;">
    <h1>Восстановление пароля</h1>
    {% if validlink %}
        <form action="." method="post">
            <p class="field-name">Пароль</p>
            <input type="password" name="new_password1" placeholder="Пароль" minlength="8" required="" id="id_new_password1">
            <p class="field-name"> Повторите пароль</p>
            <input type="password" name="new_password2" placeholder=" Повторите пароль" minlength="8" required="" id="id_new_password2">
            {% csrf_token %}
            <button type="submit" class="btn btn-success" style="margin-top: 10px;">Изменить пароль</button>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна. Запросите новый сброс пароля.</p>
    {% endif %}
</div>
{% endblock %}